@model Product
@{
    ViewData["Title"] = "Edit Product";
}

<form method="post" asp-action="EditProduct">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Product</h2>
            <hr />
        </div>
        <div asp-validation-summary=All></div>
        <div class="row pb-4">
            <div class="col-4 text-end">
                <label asp-for="Name">Name:</label>
            </div>
             <div class="col-4">
                <input asp-for="Name" style="width:300px" /><br />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
         <div class="row pb-4">
            <div class="col-4 text-end">
                <label asp-for="AvailableQuantity">Quantity:</label>
            </div>
             <div class="col-4">
                <input asp-for="AvailableQuantity" style="width:300px" /><br />
                <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
            </div>
        </div>
         <div class="row pb-4">
            <div class="col-4 text-end">
                <label asp-for="Price">Price:</label>
            </div>
             <div class="col-4">
                <input asp-for="Price" style="width:300px" /><br />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-4 text-end">
                <label asp-for="AvailabilityStatus">Status:</label>
            </div>
             <div class="col-4">
                <input asp-for="AvailabilityStatus" style="width:300px"/><br />
                <span asp-validation-for="AvailabilityStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-4 text-end">
                <label asp-for="DispatchedQuantity">Dispatched:</label>
            </div>
             <div class="col-4">
                <input asp-for="DispatchedQuantity" style="width:300px" /><br />
                <span asp-validation-for="DispatchedQuantity" class="text-danger"></span>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-4 text-end">
                <label asp-for="DeliveredQuantity">Delivered:</label>
            </div>
             <div class="col-4">
                <input asp-for="DeliveredQuantity" style="width:300px" /><br />
                <span asp-validation-for="DeliveredQuantity" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="container">
             <div class="col-md-12 text-center" style="width:975px">
                <button type="submit" class="btn btn-primary" style="width:150px">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">back</a>
            </div>
        </div>
    </div>
</form>

@*Client Side validation*@
@*@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}*@
